.card-category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1) ;
  height: 250px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}